<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{event.title}}" class="page_events page_detail">
  <ion-content>
    <div class="cover">
      <img src="{{event.image}}">
    </div>

    <div class="article">
      <h1>{{event.title}}</h1>

      <div ng-bind-html="event.content" class="html_content"></div>

      <div class="bt_invite" ng-click="share()">INVITE</div>
    </div>
  </ion-content>
</ion-view>
