<ion-view view-title="Give" class="page_give">
  <ion-content>
    <div class="cover">
      <img src="img/give.png">
    </div>
    
    <div class="article">
      
      <p>
        <i class="fa fa-external-link" aria-hidden="true"></i> You are about to leave the app to go to our website (ob1church.com/give).
      </p>

      <p>
        <i class="fa fa-ban" aria-hidden="true"></i> This donation service does not unlock additional content within the app.
      </p>

      <a class="bt_invite" href="#" onclick="window.open('http://ob1church.com/give/', '_system'); return false;">Give Now</a>
    </div>
  </ion-content>
</ion-view>
