<ion-view view-title="History" class="page_about page_history">
  <ion-content>
    <div class="header">
      <img src="img/history_title.png">
    </div>

    <div class="article">
      <h1>HISTORY</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor sem vel rutrum molestie. 
      </p>

      <p>
        Sed facilisis aliquet porta. 
        <br>
        Nulla ultrices sit amet sem et imperdiet. Nunc vehicula eros sed tempor fermentum.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor sem vel rutrum molestie. 
      </p>

      <p>
        Sed facilisis aliquet porta. 
        <br>
        Nulla ultrices sit amet sem et imperdiet. Nunc vehicula eros sed tempor fermentum.
      </p>
    </div>
  </ion-content>
</ion-view>
