<ion-header class="header--transparent">
  <ion-toolbar>
    <ion-title>Give</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/" routerDirection="root">
        <fa-icon [icon]="faHome" class="buttons--home"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="page_give">
  <div class="cover">
    <img src="/assets/img/give.png">
  </div>

  <div class="article">
    <p>
      <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
      You are about to leave the app to go to our website (ob1church.com/give).
    </p>

    <a class="bt_invite" href="#"
      onclick="window.open('https://ob1church.churchcenter.com/giving', '_system'); return false;">Give
      Now</a>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="small-text">
      <fa-icon [icon]="faBan"></fa-icon>
      This donation service does not unlock additional content within the
      app.
    </p>
  </div>
</ion-content>
