<ion-view view-title="Services Times" class="page_about page_times">
  <ion-content>
    <div class="article">
      <h1 class="title">
        <span>SUNDAY MORNINGS</span>
      </h1>
      <p>8:30<br><span>&</span><br>10:30</p>

      <button class="button parking" ng-click="share()">Invite</button>

      <button class="button parking" ng-click="openModal()">Parking information</button>
      <br>
      <h3>Directions:</h3>
      <button ng-hide="isAndroid" class="button" ng-click="openIosMap()">Open Maps</button>
      <button ng-hide="isAndroid" class="button" ng-click="openGoogleMap()">Open Google Maps</button>
      <button ng-show="isAndroid" class="button" ng-click="openAndroidMap()">Open Maps</button>
    </div>
  </ion-content>
</ion-view>
