<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="sermons" class="tab-sermons">
      <ion-icon name="icon-sermons"></ion-icon>
      <ion-label>Sermons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="icon-events"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="give">
      <ion-icon name="icon-give"></ion-icon>
      <ion-label>Give</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lifegroups">
      <ion-icon name="icon-lifegroup"></ion-icon>
      <ion-label>Lifegroups</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
