.page_about {
  background: url('/assets/img/bg_about.png') top center no-repeat;
  background-size: cover;

  .article {
    padding: 0 1em;
  }

  .header {
    margin: 1em auto;
    text-align: center;
  }

  .about__menu {
    ul {
      list-style: none;
      
      li {
        margin-bottom: 0.8em;
        font-size: 1.2em;
        a {
          text-decoration: none;
        }
      }
    }
  }

  h3 {
    font-size: 1em;
    line-height: 0.4em;
    color: #4E5354;
  }
  #map {
    width: 100%;
    height: 150px;
  }

  &.page_history, &.page_location {
    background: url('/assets/img/bg_about_inner.jpg') top center no-repeat;
    background-size: cover;
  }

  &.page_history {
    h1 {
      text-align: center;
      color: #FFF;
      margin: 1em auto;
    }

    p {
      color: #fff;
      line-height: 1.2em;
    }
  }

  &.page_times {
    background: url('/assets/img/bg_time.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    --ion-background-color: transparent;

    p {
      font-family: 'GothamLight';
      font-size: 3.5em;
      color: #fff;
      line-height: 0.7em;
      text-align: center;

      span {
        font-size: 0.8em;
        line-height: 1.3em;
      }

      margin-bottom: 1em;
    }

    h3 {
      font-size: 1em;
    }

    .button {
      font-size: 1em;
      padding: 0.4em;
      line-height: 1em;
      min-height: 20px;
      background: rgba(255, 255, 255, 0.5);

      &.parking {
        width: 100%;
        margin-bottom: 0.5em;
      }
    }

    .title {
      margin: 28px auto; 
      color: #FFF;
      line-height: 0.9;
      text-align: center;
      text-transform: uppercase; 
      font-family: 'GothamMedium';
      font-size: 1.3em;

      span {
        display: inline-block; 
        position: relative;

        &:before,
        &:after {
          content: ""; position: absolute; height: 5px; border-top: 1px solid #FFF; top: 10px; width: 50px;
        }
        
        &:before {
          right: 100%; 
          margin-right: 15px;
        }

        &:after {
          left: 100%; 
          margin-left: 15px;
        }
      }
    }

  }
}

.modal-park {
  h1 {
    font-size: 2em;
    margin: 1em auto;
  }
  p {
    margin-bottom: 1em;
    color: #4E5354;
  }
  #parking-map {
    width: 100%;
    height: 200px;
  }

  .button {
    margin-top: 1em;
    font-size: 1em;
    padding: 0.4em;
    line-height: 1em;
    min-height: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 48%;
  }
}
