<ion-content padding class="page_home">
  <!--slider section-->
  <ion-slides id="home-slide-box" show-pager="true" auto-play="true" does-continue="true" *ngIf="events; else blankModel">
    <ion-slide no-padding *ngFor="let event of events">
      <ion-item button no-padding [routerLink]="['/tabs', 'events', event.id]" class="content" detail="false">
        <img src="{{event.image}}" *ngIf="event.image != 'N/A'">
      </ion-item>
    </ion-slide>
  </ion-slides>
  
  <ng-template id="home-slide-box" #blankModel>
    <ion-item class="content" detail="false">
      <img src="/assets/img/home_top_image.png">
    </ion-item>
  </ng-template>
  <!--end slider section-->

  <div class="home__menu">
    <ul>
      <li>
        <a href="#/tab/about/times" [routerLink]="['/tabs', 'times']">
          <strong>SERVICES</strong>
          Time and location
        </a>
      </li>
      <li>
        <a href="#/tab/sermons" [routerLink]="['/tabs', 'sermons']">
          <strong>MESSAGES</strong>
          Watch and listen to past messages
        </a>
      </li>
      <li>
        <a href="#/tab/lifegroups" ng-click="navigateTo('app.tab.lifegroups',true)">
          <strong>LIFE GROUPS</strong>
          Get connected into community
        </a>
      </li>
      <li>
        <a href="#/tab/give" ng-click="navigateTo('app.tab.give',true)">
          <strong>GIVE</strong>
          Partner to impact
        </a>
      </li>
    </ul>
  </div>

</ion-content>
