<ion-header class="header--transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/tabs/events" text="Events"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/" routerDirection="root">
        <fa-icon [icon]="faHome" class="buttons--home"></fa-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="event; else blankModel">{{event.title}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding class="page_events page_detail" *ngIf="event; else blankModel">
  <div class="cover">
    <img src="{{event.image}}" *ngIf="event.image != 'N/A'">
  </div>

  <div class="article">
    <h1>{{event.title}}</h1>

    <div [innerHTML]="event.content | hrefToJS" class="html_content"></div>

    <div class="bt_invite" ng-click="share()">INVITE</div>
  </div>
</ion-content>
