.page_sermons {
  background: url('../img/bg_sermons.jpg') top center no-repeat;
  background-size: cover;

  .featured {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 1em;
    img {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }

  h1 {
    font-family: 'GothamBook';
    font-size: 2em;
    color: $color_red;
    padding-left: 0.5em;
    margin-bottom: 1em;
  }

  .list {
    .item {
      background: $bg_transparent;
      border: none;
      margin-bottom: 1em;

      .item-content {
        background: none;

        h2 {
          font-family: 'GothamBook';
          font-size: 1.5em;
          font-weight: normal;
          color: #4E5354;
          line-height: 1.5em;
        }
      }
    }
  }


  &.page_serie {
    .cover {
      max-height: 200px;
      overflow: hidden;
      margin-bottom: 1em;
      position: relative;
      img {
        width: 100%;
        max-height: 100%;
        max-width: 100%;
      }
      .icon { 
        display: block;
        width: 100%;
        height: 100%;
        background: url('../img/play_cover.png') center center no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
      }
    }

    .intro {
      display: block;
      position: relative;
      padding-left: 0.5em;
      line-height: 80px;
      vertical-align: middle;
      img {
        max-width: 25%;
        float: left;
        margin-bottom: 2em;
        padding-right: 1em;
      }
      h1 {
        font-family: 'GothamMedium';
        font-size: 2em;
        line-height: 1em;
        color: $color_gray;
        display: inline-block;
        width: 60%;
        margin: 0;
        padding: 0;
        vertical-align: middle;
      }
    }
  }

  &.page_detail {
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe, .video-container object, .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .article {
      padding: 1em;

      hr {
        height: 1px;
        border: none;
        background: $color_gray;
      }
    }

    h1 {
      font-family: 'GothamBook';
      font-size: 2em;
      color: $color_gray;
      padding: 0;
    }

    p {
      font-family: 'GothamLight';
      font-size: 1em;
      color: $color_gray;
      line-height: 1.5em;
    }

    .html_content {
      ol {
        display: block;
        list-style-type: decimal;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;

        li {
          display: list-item;
          text-align: -webkit-match-parent;
        }
      }

      ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;

        li {
          display: list-item;
          text-align: -webkit-match-parent;
        }
      }
    }

    .options {
      ul {
        list-style: none;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        li {
          width: 45%;
          margin: 0.5em 0;

          .option_button {
            display: block;
            text-decoration: none;
            background: $bg_transparent;
            font-family: 'GothamMedium';
            font-size: 0.8em;
            color: $color_gray;
            text-align: center;
            line-height: 1em;
            padding: 1em 0.5em 0.8em;
          }
        }
      }
    }

    .audio-player {
      position: relative;
      background: none;
    }
  }
}



