// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$gotham-font-path: "/assets/fonts" !default;

@font-face {
  font-family: 'GothamBook';
  src: url('#{$gotham-font-path}/gothamhtf-book-webfont.eot');
  src: url('#{$gotham-font-path}/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$gotham-font-path}/gothamhtf-book-webfont.woff2') format('woff2'),
  url('#{$gotham-font-path}/gothamhtf-book-webfont.woff') format('woff'),
  url('#{$gotham-font-path}/gothamhtf-book-webfont.ttf') format('truetype'),
  url('#{$gotham-font-path}/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('#{$gotham-font-path}/gothamhtf-light-webfont.eot');
  src: url('#{$gotham-font-path}/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$gotham-font-path}/gothamhtf-light-webfont.woff2') format('woff2'),
  url('#{$gotham-font-path}/gothamhtf-light-webfont.woff') format('woff'),
  url('#{$gotham-font-path}/gothamhtf-light-webfont.ttf') format('truetype'),
  url('#{$gotham-font-path}/gothamhtf-light-webfont.svg#gotham_htflight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('#{$gotham-font-path}/gothamhtf-medium-webfont.eot');
  src: url('#{$gotham-font-path}/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$gotham-font-path}/gothamhtf-medium-webfont.woff2') format('woff2'),
  url('#{$gotham-font-path}/gothamhtf-medium-webfont.woff') format('woff'),
  url('#{$gotham-font-path}/gothamhtf-medium-webfont.ttf') format('truetype'),
  url('#{$gotham-font-path}/gothamhtf-medium-webfont.svg#gotham_htfmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamXlight';
  src: url('#{$gotham-font-path}/gothamhtf-xlight-webfont.eot');
  src: url('#{$gotham-font-path}/gothamhtf-xlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$gotham-font-path}/gothamhtf-xlight-webfont.woff2') format('woff2'),
  url('#{$gotham-font-path}/gothamhtf-xlight-webfont.woff') format('woff'),
  url('#{$gotham-font-path}/gothamhtf-xlight-webfont.ttf') format('truetype'),
  url('#{$gotham-font-path}/gothamhtf-xlight-webfont.svg#gotham_htfxlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

$bg_transparent: rgba(255, 255, 255, 0.5);
$color_gray: #4E5354;
$color_red: #ED1C24;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: 'GothamBook';
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  color: $color_gray;
}

a {
  text-decoration: none;
  color: $color_gray;
}

.buttons--home {
  color: black;
}

.bt_invite {
  display: block;
  background: $bg_transparent;
  font-family: 'GothamMedium';
  font-size: 1.8em;
  line-height: 2em;
  color: $color_red;
  text-align: center;
  text-decoration: none;
  margin: 1em 0;
}
